<section class="container booth-container" id="top">
  <img src="/images/<%=lang%>/booth.jpg" alt="booth" class="imgs booth-img" usemap="#boothMap" width="1200" height="2400">
</section>
<map name="boothMap">
  <area target="_self" alt="event" title="event" href="/<%=lang%>/event" coords="657,218,1145,305" shape="rect">
  <area target="_self" alt="01" title="01" href="/<%=lang%>/pop01" coords="1112,1261,995,1064" shape="rect">
  <area target="_self" alt="02" title="02" href="/<%=lang%>/pop02" coords="604,1067,803,1311" shape="rect">
  <area target="_self" alt="03" title="03" href="/<%=lang%>/pop03" coords="290,1168,545,1442" shape="rect">
  <!-- TODO :: form 영문주소 없나? ppt에 일본폼 주소만... -->
  <area target="_blank" alt="form" title="form" href="https://forms.gle/aesiHKfn6DePFd9h7" coords="649,2167,1147,2306" shape="rect">
</map>

