<section class="container event-container" id="top">
  <img src="/images/<%=lang%>/event_01.jpg" alt="home" class="imgs evt-img" usemap="#evt01" width="1200" height="178">
</section>
<section class="container event-container">
  <img src="/images/<%=lang%>/event_02.jpg" alt="home" class="imgs evt-img" usemap="#evt02" width="1200" height="3405">
</section>
<section class="container event-container video-container" style="background-image: url('/images/<%=lang%>/event_video_bg.jpg')">
  <div style="padding:56.25% 0 0 0;position:relative;">
    <!-- TODO :: 비디오 주소가 잘못됐음. 다시 받아서 넣을것 -->
    <iframe src="https://player.vimeo.com/video/1130831778?h=5fc396d140" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Seoul Mobility Show_Lotte Mobility"></iframe>
		 <!-- <iframe title="vimeo-player" src="https://player.vimeo.com/video/1130831778?h=5fc396d140" width="640" height="360" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"   allowfullscreen></iframe> -->
  </div>
  <script src="https://player.vimeo.com/api/player.js"></script>
</section>
<section class="container event-container">
  <img src="/images/<%=lang%>/event_04.jpg" alt="home" class="imgs evt-img" usemap="#evt04" width="1200" height="8400">
</section>
<section class="container event-container">
  <img src="/images/<%=lang%>/event_05.jpg" alt="home" class="imgs evt-img" usemap="#evt05" width="1200" height="400">
</section>
<section class="container event-container">
  <img src="/images/<%=lang%>/event_06.jpg" alt="home" class="imgs evt-img" usemap="#evt06" width="1200" height="271">
</section>
<map name="evt01">
  <area target="_self" alt="event" title="event" href="/<%=tarLang%>/event" coords="49,35,480,143" shape="rect">
  <area target="_self" alt="booth" title="booth" href="/<%=lang%>/booth" coords="706,38,1128,150" shape="rect">
</map>
<map name="evt05">
  <area target="_self" alt="top" title="top" href="#top" coords="1151,180,1028,62" shape="rect">
  <area target="_blank" alt="lotte" title="lotte" href="https://www.lotte.co.kr/global/<%=lang%>/main.do" coords="133,259,570,377" shape="rect">
  <!-- TODO :: 다운로드 주소 확인할 것 -->
  <area target="_self" alt="download" title="download" href="/download/Brochure.zip" coords="629,257,1074,377" shape="rect">
</map>
